---
layout: article
title: Studio
<!-- permalink: /Studio/ -->
---
<!DOCTYPE html>
<!-- <html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
    {% if page.use_math %}
      {% include mathjax_support.html %}
    {% endif %}
  </head>

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body> -->

  
  <h1>Studio</h1>
  <!-- 
  <div class="photo-grid">
    {% for post in site.categories.studio %}
      <div class="photo">
        <img src="{{ post.image }}" alt="{{ post.title }}">
        <p>{{ post.title }}</p>
      </div>
    {% endfor %}
  </div> -->

  <div class="photo-grid">
    <div class="photo">
      <img src="/assets/images/banners/home_02.jpg" alt="Studio Photo 1">
      <p>Studio Photo 1</p>
    </div>
  
    <div class="photo">
      <img src="/assets/images/banners/home_.jpg" alt="Studio Photo 2">
      <p>Studio Photo 2</p>
    </div>
  </div>
</html>
